.text-area-input {
    width: 100%;
    outline: 0;
    border-radius: 12px;
    border: solid 1px var(--pale-lilac);
    font: 400 16px Montserrat, sans-serif;
    padding: 15px 20px;
    letter-spacing: 0.1px;
    color: var(--dusk);
}
