.button {
  align-items: center;
  background-color: black;
  color: #e4d5b7;
  border: 0;
  box-shadow:  2px 4px 20px #e4d5b7;
  filter: drop-shadow( 2px 4px 20px rgba(39, 29, 67, 0.08));
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  padding: 19px 24px;
  cursor: pointer;
  width: fit-content;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.button:active:not(:disabled),
.button:hover:not(:disabled) {
  outline: 0;
  background-color: #e4d5b7;
  color: black;
  box-shadow: 2px 4px 20px 0 black;
}
